* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.card{
  background-color: rgb(255, 255, 255);
  margin-left: 0px;
  border: 1px solid #b3b0b0; /* Border with color */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 230px; 
  height: 800px;
  margin-top: 50px;
  z-index: 1;
  overflow-y: scroll;
  max-height: 650px;
  
 
}
.container {
  display: flex; /* Use flexbox layout for the container */
  justify-content: space-between; /* Space the elements evenly within the container */
  gap:10px;
  align-items: center;
}
.input-group {
  margin-bottom: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: rgb(240, 239, 239);
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically in the center */
  width: 100px; /* Adjust the width based on your design */
  height: 25px;
  border-radius: 5px;
  border: 1px solid #b3b0b0; /* Border with color */
  
}
input-group label {
  margin-left: 5px; /* Add some spacing between label and input */
}

.input-group input {
  flex:1;
  background-color: rgb(240, 239, 239);
  width:  50px;
  height: 20px;
  border-radius: 5px;
  border: 0px solid rgb(240, 239, 239); /* Border with color */
}



.color-switch {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 2px;
  width: 170px; /* Ajusté la largeur selon vos besoins */
  
}

.color-picker-container input [type="color"] {
  display: flex;
  flex-direction: column;
  align-items: right;
  
}
.real-color input[type="text"] {
  cursor: pointer;
  background-color: rgb(240, 239, 239);
  width: 170px;
  align-items: left;
  display: flex;
  border: 1px solid #b3b0b0; /* Border with color */
}


.color-picker-container label,
.real-color label {
  margin-top: 10px; /* Ajouté un espace en haut des labels */
}



.color-switch input[type="text"]:focus + .color-picker-container {
  display: block; /* Afficher le colorPicker lorsqu'on clique sur l'input de référence */
}

.texture-thumbnails{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  
}
.texture-thumbnails img {
  width: 65px; /* Définissez la largeur souhaitée, par exemple, 100 pixels */
  height: auto; /* Assurez-vous que la hauteur est ajustée proportionnellement */
}
.material-thumbnails{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.material-thumbnails img{
  width: 100px; /* Définissez la largeur souhaitée, par exemple, 100 pixels */
  height: auto;
  border: 1px solid #b3b0b0; /* Border with color */
}
.quantity-text {
  margin-bottom: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: rgb(240, 239, 239);
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically in the center */
  width: 100px; /* Adjust the width based on your design */
  height: 40px;
  border-radius: 5px;
  border: 1px solid #b3b0b0; /* Border with color */
  
}
label {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group label {
  margin-bottom: 5px;
}

canvas.webgl {
  display: block;
}

.zoom-buttons {
  position: absolute;
  top: 200px;
  right :250px;
  z-index: 1; /* Assure que les boutons sont au-dessus de la scène */
  display: flex;
  flex-direction: column;
}
zoom-buttons button {
  margin-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.webgl-container {
  position: relative;
}

.webgl {
  width: 100%;
  height: 100%;
}

.open-box-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.color-switch {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 2px;
  width: 170px; 
  z-index: 1;
}
.color-picker-container input [type="color"] {
  display: flex;
  flex-direction: column;
  align-items: right;
  z-index: 1;
}
.real-color input[type="text"] {
  cursor: pointer;
  background-color: rgb(240, 239, 239);
  width: 170px;
  align-items: left;
  display: flex;
  border: 1px solid #b3b0b0; /* Border with color */
  z-index: 1;
}


.color-picker-container label,
.real-color label {
  margin-top: 10px; /* Ajouté un espace en haut des labels */
  z-index: 1;
}



.color-switch input[type="text"]:focus + .color-picker-container {
  display: block; /* Afficher le colorPicker lorsqu'on clique sur l'input de référence */
  z-index: 1;
}